<header class="header">
    <a href="index.html" class="logo">
        <img class="logo_mini" src="img/npn-weis.png" />
    </a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a
            class="nav-text"
            href='{{ get_url(path="rss.xml", trailing_slash=false) }}'
            >RSS</a
        >
        <a
            class="nav-text"
            href='{{ get_url(path="posts", trailing_slash=false) }}'
            >Posts</a
        >
    </nav>
</header>
